{# This macro should be imported "with context". #}

{% import 'macro/content_card.html' as card with context %}


{% macro send_message_form(action_url, redirect_url="") %}
{#
Render the "Send New Message" card.

action_url (str): the URL to POST the new message to.
redirect_url (str): optional URL to redirect to after sending (passed as hidden 'next' field).
#}
{% set hidden_html %}
  {% if redirect_url %}<input type="hidden" name="next" value="{{ redirect_url }}">{% endif %}
{% endset %}
{{ card.new_item_card("Send New Message", action_url, subject_name="message_subject", text_name="message_text", submit_label="Send message", extra_hidden_html=hidden_html) }}
{% endmacro %}


{% macro message_card(msg, delete_url, edit_url, redirect_url="") %}
{#
Render one message sent to a participant/student.

msg (Message): the message object.
delete_url (str): the URL to DELETE the message.
edit_url (str): the URL to POST the edited message.
redirect_url (str): optional URL to redirect to after editing (passed as hidden 'next' field).
#}
{% set delete_btn %}
  <button type="button" class="question-edit-reply-link" onclick="CMS.AWSUtils.ajax_delete_reload('{{ delete_url }}');">
    <svg class="icon is-small"><use href="#icon-trash"/></svg> Remove
  </button>
{% endset %}
{% set hidden_html %}
  {% if redirect_url %}<input type="hidden" name="next" value="{{ redirect_url }}">{% endif %}
{% endset %}
<div class="question-card question-claimed announcement-card">
  {{ card.card_header(msg.subject, msg.timestamp, delete_button_html=delete_btn) }}

  <div class="question-card-body">
    <div class="question-text">{{ msg.text | markdown }}</div>
  </div>

  <input type="hidden" class="announcement_raw_subject" value="{{ msg.subject|e }}">
  <textarea class="announcement_raw_text" style="display:none;">{{ msg.text|e }}</textarea>

  {{ card.card_footer(msg.admin.name if msg.admin is not none else "<unknown>") }}

  {{ card.edit_form(edit_url, "Edit Message", extra_hidden_html=hidden_html) }}
</div>
{% endmacro %}


