{% macro selector(page_url, page, pages) -%}
{#
Show a page selector for a paginated view.

page_url (Url): the URL instance referring to the page displaying the table.
page (int): 0-based number of the current page.
pages (int): total number of pages.
#}

  {% if pages > 1 %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" {% if page == 0 %}disabled{% else %}href="{{ page_url(page=page - 1) }}"{% endif %}>Previous</a>
    <a class="pagination-next" {% if page == pages - 1 %}disabled{% else %}href="{{ page_url(page=page + 1) }}"{% endif %}>Next</a>
    <ul class="pagination-list">
    {% if pages <= 20 %}
      {{ range_selector(page_url, page, pages, 0, pages) }}
    {% else %}
      {% if page > 2 %}
        <li><a class="pagination-link" href="{{ page_url(page=0) }}" aria-label="Goto page 1">1</a></li>
        {% if page > 3 %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
      {% endif %}
      {{ range_selector(page_url, page, pages, page - 2, page + 3) }}
      {% if page < pages - 3 %}
        {% if page < pages - 4 %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endif %}
        <li><a class="pagination-link" href="{{ page_url(page=pages - 1) }}" aria-label="Goto page {{ pages }}">{{ pages }}</a></li>
      {% endif %}
    {% endif %}
    </ul>
</nav>
  {% endif %}
{%- endmacro %}


{% macro range_selector(page_url, page, pages, start, end) -%}
{#
Show a page range selector from start (included) to end (excluded).
#}
  {% for i in range([0, start]|max, [pages, end]|min) %}
    <li>
    {% if i != page %}
      <a class="pagination-link" href="{{ page_url(page=i) }}" aria-label="Goto page {{ i + 1 }}">{{ i + 1 }}</a>
    {% else %}
      <a class="pagination-link is-current" aria-label="Page {{ i + 1 }}" aria-current="page">{{ i + 1 }}</a>
    {% endif %}
    </li>
  {% endfor %}
{%- endmacro %}
