{% macro _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) -%}
{% if submission_id is not none and dataset_id is not none %}
  {% set args = {"submission_id": submission_id, "dataset_id": dataset_id} %}
{% elif dataset_id is not none %}
  {% set args = {"dataset_id": dataset_id} %}
{% elif participation_id is not none %}
  {% set args = {"participation_id": participation_id} %}
{% elif contest_id is not none %}
  {% set args = {"contest_id": contest_id} %}
{% endif %}
{%- for key, value in args.items() %}'{{ key }}': {{ value }},{% endfor %}
{%- endmacro %}


{% macro reevaluation_buttons(allowed,
                              next_page,
                              submission_id=None,
                              dataset_id=None,
                              participation_id=None,
                              contest_id=None) %}
{#
Render reevaluation buttons (icon-only) for inline use in tables.

allowed (bool): whether the logged in admin is allowed to reevaluate.
next_page (str): the URL to redirect to after the invalidation request.
submission_id (int|None): id of the submission to invalidate.
dataset_id (int|None): id of the dataset to invalidate.
participation_id (int|None): id of the participation to invalidate.
contest_id (int|None): the id of the contest to invalidate.
#}
<button type="button" onclick="AdminModals.confirmThen('Do you really want to reevaluate?', function() { cmsrpc_request(
                 'EvaluationService', 0,
                 'invalidate_submission', {
                 {{ _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) }}
                  'level': 'compilation'},
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                 ); }, {icon: 'question'});"
{% if not allowed %}
        disabled
{% endif %}
        title="Compilation" class="btn-icon-only btn-icon-warn" aria-label="Rerun compilation">
    <svg class="icon is-small"><use href="#icon-compile"/></svg>
</button>
<button type="button" onclick="AdminModals.confirmThen('Do you really want to reevaluate?', function() { cmsrpc_request(
                 'EvaluationService', 0,
                 'invalidate_submission', {
                 {{ _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) }}
                  'level': 'evaluation'},
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                  ); }, {icon: 'question'});"
{% if not allowed %}
        disabled
{% endif %}
        title="Evaluation" class="btn-icon-only btn-icon-warn" aria-label="Rerun evaluation">
    <svg class="icon is-small"><use href="#icon-evaluate"/></svg>
</button>
<button type="button" onclick="AdminModals.confirmThen('Do you really want to reevaluate?', function() { cmsrpc_request(
                 'ScoringService', 0,
                 'invalidate_submission', {
                 {{ _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) }}
                 },
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                 ); }, {icon: 'question'});"
{% if not allowed %}
        disabled
{% endif %}
        title="Score" class="btn-icon-only btn-icon-success" aria-label="Rerun scoring">
    <svg class="icon is-small"><use href="#icon-score-type"/></svg>
</button>
{% endmacro %}


{% macro reevaluation_buttons_bar(allowed,
                                  next_page,
                                  submission_id=None,
                                  dataset_id=None,
                                  participation_id=None,
                                  contest_id=None) %}
{#
Render reevaluation buttons as Bulma button group (for page headers).

Same parameters as reevaluation_buttons.
#}
<button type="button" class="button is-small" onclick="AdminModals.confirmThen('Do you really want to reevaluate?', function() { cmsrpc_request(
                 'EvaluationService', 0,
                 'invalidate_submission', {
                 {{ _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) }}
                  'level': 'compilation'},
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                 ); }, {icon: 'question'});"
{% if not allowed %}disabled{% endif %}
        title="Compilation">
    <svg class="icon is-small"><use href="#icon-compile"/></svg> <span>Compile</span>
</button>
<button type="button" class="button is-small" onclick="AdminModals.confirmThen('Do you really want to reevaluate?', function() { cmsrpc_request(
                 'EvaluationService', 0,
                 'invalidate_submission', {
                 {{ _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) }}
                  'level': 'evaluation'},
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                  ); }, {icon: 'question'});"
{% if not allowed %}disabled{% endif %}
        title="Evaluation">
    <svg class="icon is-small"><use href="#icon-evaluate"/></svg> <span>Evaluate</span>
</button>
<button type="button" class="button is-small" onclick="AdminModals.confirmThen('Do you really want to reevaluate?', function() { cmsrpc_request(
                 'ScoringService', 0,
                 'invalidate_submission', {
                 {{ _invalidate_arguments(submission_id, dataset_id, participation_id, contest_id) }}
                 },
                 function(response) { utils.redirect_if_ok('{{ next_page }}', response); }
                 ); }, {icon: 'question'});"
{% if not allowed %}disabled{% endif %}
        title="Score">
    <svg class="icon is-small"><use href="#icon-score-type"/></svg> <span>Score</span>
</button>
{% endmacro %}


{% macro rpc_rerun_archive_button(allowed,
                                   redirect_url,
                                   submission_id,
                                   dataset_id,
                                   level,
                                   testcase_id=None) %}
{#
Render a "Rerun and archive" button that calls EvaluationService/invalidate_submission
with archive_sandbox=true.

allowed (bool): whether the logged-in admin may trigger the action.
redirect_url (str): URL to redirect to on success.
submission_id (int): id of the submission.
dataset_id (int): id of the dataset.
level (str): invalidation level ('compilation' or 'evaluation').
testcase_id (int|None): optional testcase id for per-testcase reruns.
#}
<button class="button is-warning is-small is-light{% if testcase_id is none %} ml-2{% endif %}"
  onclick="cmsrpc_request(
           'EvaluationService', 0,
           'invalidate_submission', {
             'submission_id': {{ submission_id }},
             'dataset_id': {{ dataset_id }},
             {% if testcase_id is not none %}'testcase_id': {{ testcase_id }},
             {% endif %}'level': '{{ level }}',
             'archive_sandbox': true
           },
           function(response) { utils.redirect_if_ok('{{ redirect_url }}', response); }
  );"
{% if not allowed %}
  disabled
{% endif %}>
  Rerun and archive
</button>
{% endmacro %}
