{% extends "base.html" %}

{% block title %}
    {{ contest.description }} - {% trans %}Password Reset{% endtrans %}
{% endblock title %}

{% block body %}

<div class="register_box hero-unit">
    <h1>{% trans %}Password Reset{% endtrans %}</h1>
    <p>{% trans %}Enter your username or email address to request a password reset.{% endtrans %}</p>

    {% if error_message is defined and error_message %}
    <div class="alert alert-error">
        {{ gettext(error_message) }}
    </div>
    {% endif %}


    <form class="form-horizontal" action="{{ contest_url('password_reset') }}" method="post">
        {{ xsrf_form_html|safe }}
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username_or_email">{% trans %}Username or Email{% endtrans %}</label>
                <div class="controls">
                    <input required type="text" class="input-xlarge" name="username_or_email" id="username_or_email" autocomplete="username">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary btn-large">{% trans %}Request Reset{% endtrans %}</button>
                </div>
            </div>
        </fieldset>
    </form>

    <p><a href="{{ contest_url() }}">{% trans %}Back to login{% endtrans %}</a></p>
</div>

{% endblock body %}
