{% extends "base.html" %}

{% block title %}
    {{ contest.description }} - {% trans %}Password Reset{% endtrans %}
{% endblock title %}

{% block body %}

<div class="register_box hero-unit">
    <h1>{% trans %}Password Reset{% endtrans %}</h1>

    <div class="alert alert-success">
        <strong>{% trans %}Password Reset Submitted!{% endtrans %}</strong>
    </div>

    <p>{% trans %}Your password reset request for user{% endtrans %} <strong>{{ username }}</strong> {% trans %}has been submitted.{% endtrans %}</p>

    <p>{% trans %}An administrator must approve your password reset before it takes effect. You will be able to log in with your new password once it has been approved.{% endtrans %}</p>

    <p>{% trans %}Please contact an administrator if you need your password reset to be processed urgently.{% endtrans %}</p>

    <p><a href="{{ contest_url() }}" class="btn btn-primary">{% trans %}Back to login{% endtrans %}</a></p>
</div>

{% endblock body %}
