cms/server/admin/static/jq/*
cms/server/admin/static/sh/*
cms/server/admin/static/select2/*
cms/server/admin/static/js/zxcvbn.js
cms/server/admin/static/prism.js
cms/server/static/jq/*
cms/server/contest/static/js/bootstrap.js
cms/server/contest/static/js/zxcvbn.js
cmsranking/static/lib/*
node_modules/
