{% extends "base.html" %}
{% import 'macro/markdown_input.html' as macro_markdown %}
{% import 'macro/announcement.html' as macro_announcement with context %}

{% block core %}
<div class="core_title">
  <h1>Announcements</h1>
</div>

<h2 id="title_announcements" class="toggling_on">Announcements</h2>
<div id="announcements">
  {{ macro_announcement.add_form(contest, url("contest", contest.id, "announcements")) }}
  {{ macro_announcement.listing(contest.announcements|reverse, contest, admin, admin.permission_all or admin.permission_messaging) }}

  <div class="hr"></div>
</div>


{% endblock core %}

