{% extends "base.html" %}

{% block core %}
<div class="core_title">
  <h1>Contest configuration</h1>
</div>

{% include "fragments/overload_warning.html" %}

<!-- Training day groups configuration (shown at top for training day contests) -->
{% include "fragments/training_day_groups.html" %}

<!-- We use "multipart/form-data" to have Tornado distinguish between missing and empty values. -->
<form enctype="multipart/form-data" action="{{ url("contest", contest.id) }}" method="POST" name="edit_contest" style="display:inline;">
  {{ xsrf_form_html|safe }}
  <table class="sub_table">
    {% with show_folder=true, show_name=true, show_description=true, show_login_section=true, show_analysis_section=true %}
      {% include "fragments/contest_config_fields.html" %}
    {% endwith %}
  </table>
  <input type="submit"
         value="Update"
{% if not admin.permission_all %}
         disabled
{% endif %}
         >
  <input type="reset" value="Reset">
  <a href="{{ url("contest", contest.id, "export") }}"> ⇩ Export </a>
</form>

<form action="{{ url("contests") }}" method="POST" style="display:inline;">
    {{ xsrf_form_html|safe }}
    <input type="hidden" name="contest_id" value="{{ contest.id }}"/>
    <input type="submit"
         name="operation"
         value="Remove" style="float: right;"
{% if not admin.permission_all %}
         disabled
{% endif %}
         />
</form>

{% endblock core %}
