{% import "macro/reevaluation_buttons.html" as macro_reevaluation_buttons %}

{% extends "base.html" %}
{% import 'macro/submission.html' as macro_submission %}

{% block core %}
<h1>All Submissions</h1>

<div id="submissions">

  <p>
    Reevaluate all {{ submission_count }} submissions in this contest (for all datasets)
    {{ macro_reevaluation_buttons.reevaluation_buttons(
           admin.permission_all,
           url("contest", contest.id, "submissions"),
           contest_id=contest.id) }}
    <br/>
    {% if training_program is defined %}
    <a href="{{ url("training_program", training_program.id, "submissions", "download") }}">Download all submissions</a>
    {% else %}
    <a href="{{ url("contest", contest.id, "submissions", "download") }}">Download all submissions</a>
    {% endif %}
  </p>

  {{ macro_submission.rows(
         admin,
         url,
         url["contest"][contest.id]["submissions"],
         submissions,
         submission_page,
         submission_pages,
         show_training_day=is_training_program) }}
</div>

{% endblock core %}
