{% import "macro/reevaluation_buttons.html" as macro_reevaluation_buttons %}

{% extends "base.html" %}
{% import 'macro/submission.html' as macro_submission %}

{% block core %}
<h1 class="title is-spaced">All Submissions</h1>

<div id="submissions">

  {% if is_training_program|default(false) %}
    {% set download_url = url("training_program", training_program.id, "submissions", "download") %}
  {% else %}
    {% set download_url = url("contest", contest.id, "submissions", "download") %}
  {% endif %}

  {{ macro_submission.header(
         admin,
         submission_count,
         macro_reevaluation_buttons.reevaluation_buttons_bar(
             admin.permission_all,
             url("contest", contest.id, "submissions"),
             contest_id=contest.id),
         download_url=download_url) }}

  {{ macro_submission.rows(
         admin,
         url,
         url["contest"][contest.id]["submissions"],
         submissions,
         submission_page,
         submission_pages,
         timezone=timezone,
         show_training_day=is_training_program|default(false)) }}
</div>

{% endblock core %}
