{% extends "base.html" %}

{% block core %}
{% include "fragments/user_detail_styles.html" %}

<div class="user-detail-back-link">
  <a href="{{ url("contest", contest.id, "ranking") }}">&larr; Back to Ranking</a>
  |
  <a href="{{ url("contest", contest.id, "user", participation.user.id, "edit") }}">Edit Participation</a>
</div>

{% with first_name=participation.user.first_name,
        last_name=participation.user.last_name,
        username=participation.user.username,
        picture_url=url("file", participation.user.picture, "picture") if participation.user.picture else none,
        team_name=participation.team.name if participation.team else none %}
{% include "fragments/user_detail_layout.html" %}
{% endwith %}

<script>
var Config = new function() {
  var self = this;
  self.get_history_url = function() {
    return {{ history_url | tojson | safe }};
  };
  self.get_submissions_url = function(user_id) {
    return {{ submissions_url | tojson | safe }};
  };
  self.get_face_url = function(user_id) {
    return "";
  };
  self.get_flag_url = function(team_id) {
    return "";
  };
};

var DataStore = new function() {
  var self = this;

  var usersData = {{ users_data | tojson | safe }};
  var tasksData = {{ tasks_data | tojson | safe }};
  var contestData = {{ contest_data | tojson | safe }};

  var tasksList = [];
  for (var t_id in tasksData) {
    tasksData[t_id].contest = contestData.key;
    tasksData[t_id].key = t_id;
    tasksList.push(tasksData[t_id]);
  }
  contestData.tasks = tasksList;

  self.users = usersData;
  self.tasks = tasksData;
  self.teams = {};
  self.contests = {};
  self.contests[contestData.key] = contestData;
  self.contest_list = [contestData];

  self.user_count = {{ user_count }};
  self.global_max_score = contestData.max_score;
  self.global_score_precision = contestData.score_precision;
};
</script>

{% include "fragments/user_detail_scripts.html" %}

<script>
(function() {
  initUserDetail({
    userId: {{ user_id | tojson | safe }},
    showContestRows: false,
    fetchSubmissionsViaAjax: true
  });
})();
</script>

{% endblock core %}
