{% extends "base.html" %}

{% block js %}


var getters = [];

(function() {

    RSgetter = function(shard, plotOptions)
    {
        this.shard = shard;
        this.last_time = {{ timestamp|make_timestamp }} - 60 * 11;
        this.first = true;
    }

    RSgetter.prototype =
    {

        update_resources_cb: function(response)
        {
            var table = $("#services_" + this.shard + "_table > tbody");
            var msg = utils.standard_response(response);
            if (msg != "")
            {
                table.html('<tr><td style="text-align: center;" colspan="8">'+ msg + '</td></tr>');
                return;
            }

            var l = response['data'].length;
            if (l == 0)
                return;

            this.last_time = response['data'][l-1][0];
            if (this.first)
            {
                // Calculate a good spacing for y-axis labels.
                var tick_increment = function(max_val, max_ticks, min_inc) {
                   var res = min_inc;
                   while (max_val / res > max_ticks)
                       res *= 2;
                   return res;
                }

                // CPU
                this.cpu_graph = $.jqplot("cpu_" + this.shard, [[[-1, -1]], [[-1, -1]], [[-1, -1]]], plotOptions);
                this.cpu_graph.series[0].label = "User";
                this.cpu_graph.series[1].label = "System";
                this.cpu_graph.series[2].label = "I/O";
                for (var i = 0; i < this.cpu_graph.series.length; i++)
                    this.cpu_graph.series[i].data.length = 0;
                this.num_cpu = response['data'][0][1]['cpu']['num_cpu'];
                this.cpu_graph.axes.yaxis.min = 0;
                this.cpu_graph.axes.yaxis.max = this.num_cpu * 100;
                this.cpu_graph.axes.yaxis.ticks = [];
                var ytick = 0;
                var cpu_ytick_inc = tick_increment(this.num_cpu, 10, 0.25);
                while (ytick <= this.num_cpu * 100)
                {
                    this.cpu_graph.axes.yaxis.ticks.push(ytick);
                    ytick += 100 * cpu_ytick_inc;
                }

                // Memory
                this.memory_graph = $.jqplot("memory_" + this.shard, [[[-1, -1]], [[-1, -1]], [[-1, -1]]], plotOptions);
                this.memory_graph.series[0].label = "Used";
                this.memory_graph.series[1].label = "Buffers";
                this.memory_graph.series[2].label = "Cache";
                for (var i = 0; i < this.memory_graph.series.length; i++)
                    this.memory_graph.series[i].data.length = 0;
                this.ram_total = response['data'][0][1]['memory']['ram_total'];
                this.memory_graph.axes.yaxis.min = 0;
                this.memory_graph.axes.yaxis.max = this.ram_total;
                this.memory_graph.axes.yaxis.ticks = [];
                ytick = 0;
                var ram_ytick_inc = tick_increment(this.ram_total, 10, 1);
                while (ytick + 100 <= this.ram_total)
                {
                    this.memory_graph.axes.yaxis.ticks.push(ytick);
                    ytick += ram_ytick_inc;
                }
                this.memory_graph.axes.yaxis.ticks.push(this.ram_total);

                // Swap
                this.swap_graph = $.jqplot("swap_" + this.shard, [[[-1, -1]]], plotOptions);
                this.swap_graph.series[0].label = "Used";
                for (var i = 0; i < this.swap_graph.series.length; i++)
                    this.swap_graph.series[i].data.length = 0;
                this.swap_total = response['data'][0][1]['memory']['swap_total'];
                this.swap_graph.axes.yaxis.min = 0;
                this.swap_graph.axes.yaxis.max = this.ram_total;
                this.swap_graph.axes.yaxis.ticks = [];
                ytick = 0;
                var swap_ytick_inc = tick_increment(this.swap_total, 10, 1);
                while (ytick + 100 <= this.swap_total)
                {
                    this.swap_graph.axes.yaxis.ticks.push(ytick);
                    ytick += swap_ytick_inc;
                }
                this.swap_graph.axes.yaxis.ticks.push(this.swap_total);

                var tmp = [];
                for (var s in response['data'][l-1][1]['services'])
                    tmp.push([[-1, -1]]);
            }
            var xmin = 1000 * (this.last_time - 60*10);
            var xmax = 1000 * this.last_time;
            var xticks = [];
            var xtick = this.last_time - 60*10;
            while (xtick + 60 <= this.last_time)
            {
                xticks.push(1000 * xtick);
                xtick = parseInt(xtick / 60) * 60 + 120;
            }
            xticks.push(1000 * this.last_time);

            this.cpu_graph.axes.xaxis.ticks = xticks;
            this.memory_graph.axes.xaxis.ticks = xticks;
            this.swap_graph.axes.xaxis.ticks = xticks;
            for (var i = 0; i < l; i++)
            {
                var t = 1000 * response['data'][i][0]
                // CPU
                this.cpu_graph.series[0].data.push(
                    [t, response['data'][i][1]['cpu']['user']]);
                this.cpu_graph.series[1].data.push(
                    [t, response['data'][i][1]['cpu']['system']]);
                this.cpu_graph.series[2].data.push(
                    [t, response['data'][i][1]['cpu']['iowait']]);
                // Memory
                this.memory_graph.series[0].data.push(
                    [t, response['data'][i][1]['memory']['ram_used']]);
                this.memory_graph.series[1].data.push(
                    [t, response['data'][i][1]['memory']['ram_buffers']]);
                this.memory_graph.series[2].data.push(
                    [t, response['data'][i][1]['memory']['ram_cached']]);
                // Swap
                this.swap_graph.series[0].data.push(
                    [t, response['data'][i][1]['memory']['swap_used']]);
            }
            this.cpu_graph.replot();
            this.memory_graph.replot();
            this.swap_graph.replot();
            this.first = false;

            // Services
            var strings = [];
            var services = [];
            for (var s in response['data'][l-1][1]['services'])
                services.push(s);
            services.sort();
            for (var i = 0; i < services.length; i++)
            {
                var s = services[i];
                strings.push('<tr><td>');
                strings.push(s);
                if (response['data'][l-1][1]['services'][s]['running'] == false)
                    strings.push('</td><td colspan="6">Not running');
                else
                {
                    strings.push('</td><td>');
                    strings.push(utils.repr_time_ago_short((new Date()).getTime()/1000 - response['data'][l-1][1]['services'][s]['since']));
{% if admin.permission_all %}
                    if (s.lastIndexOf("LogService,", 0) !== 0 &&
                        s.lastIndexOf("ResourceService,", 0) !== 0)
                      strings.push(" <a onclick='window.getters[" + this.shard + "].kill_service(\"" + s + "\", this);'>[Kill]</a>");
{% endif %}
                    strings.push('</td><td style="text-align: center;">');
                    strings.push(response['data'][l-1][1]['services'][s]['threads']);
                    strings.push('</td><td style="text-align: center;">');
                    strings.push(response['data'][l-1][1]['services'][s]['resident']);
                    strings.push('</td><td style="text-align: center;">');
                    strings.push(response['data'][l-1][1]['services'][s]['virtual']);
                    strings.push('</td><td style="text-align: center;">');
                    strings.push(response['data'][l-1][1]['services'][s]['user']);
                    strings.push('</td><td style="text-align: center;">');
                    strings.push(response['data'][l-1][1]['services'][s]['sys']);
                }
                strings.push('</td><td style="text-align: center;">');
                if (s.lastIndexOf("LogService,", 0) === 0 ||
                    s.lastIndexOf("ResourceService,", 0) === 0) {
                  strings.push('N/A');
                } else if (response['data'][l-1][1]['services'][s]['autorestart'] == true) {
                  strings.push(" <input type='checkbox' checked onchange='window.getters[" + this.shard + "].toggle_autorestart(\"" + s + "\", this);'");
{% if not admin.permission_all %}
                  strings.push(" disabled");
{% endif %}
                  strings.push(" />");
                } else if (response['data'][l-1][1]['services'][s]['autorestart'] == false) {
                  strings.push(" <input type='checkbox' onchange='window.getters[" + this.shard + "].toggle_autorestart(\"" + s + "\", this);'");
{% if not admin.permission_all %}
                  strings.push(" disabled");
{% endif %}
                  strings.push(" />");
                } else {
                  strings.push('N/A');
                }
                strings.push('</td></tr>');
            }
            table.html(strings.join(""));
        },

        update_resources: function()
        {
            var f = utils.bind_func(this, this.update_resources_cb);
            cmsrpc_request("ResourceService", this.shard,
                           "get_resources",
                           {"last_time": this.last_time},
                           f);
        },

        kill_service: function(s, link)
        {
            link.parentNode.innerHTML = '<img src="{{ url("static", "loading.gif") }}" alt="loading..." />';
            cmsrpc_request("ResourceService", this.shard,
                           "kill_service",
                           {"service": s});
        },

        toggle_autorestart: function(s, checkbox)
        {
            cmsrpc_request("ResourceService", this.shard,
                           "toggle_autorestart",
                           {"service": s});
        }
    }
})();

var plotOptions = {
    gridPadding: {top: 1},
    grid: {
        shadow: false,
        borderWidth:1.0
    },
    stackSeries: true,
    axes: {
        xaxis: {
            renderer:$.jqplot.DateAxisRenderer,
            tickOptions: {formatString: '%H:%M'},
            min: 0,
            max: 600000
        },
        yaxis: {
            min: 0,
            max: 100
        }
    },
    seriesDefaults: {
        showMarker: false,
        fill: true,
        shadow: false
    },
    legend: {
        renderer: $.jqplot.EnhancedLegendRenderer,
        show: true,
        location: 'e',
        rowSpacing: 0,
        placement: 'outside',
        rendererOptions: {
            numberColumns:1
        }
    }
};

function formatBytes(bytes) {
    if (bytes === 0) return '0 Bytes';
    var k = 1024;
    var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
    var i = Math.floor(Math.log(bytes) / Math.log(k));
    return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + ' ' + sizes[i];
}

function formatNumber(num) {
    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}

function fileCacherShowState(state) {
    document.getElementById('filecacher-placeholder').style.display = state === 'placeholder' ? '' : 'none';
    document.getElementById('filecacher-loading').style.display = state === 'loading' ? '' : 'none';
    document.getElementById('filecacher-results').style.display = state === 'results' ? '' : 'none';
    document.getElementById('filecacher-error').style.display = state === 'error' ? '' : 'none';
}

function fileCacherScan(clearDeleteStatus) {
    fileCacherShowState('loading');
    if (clearDeleteStatus !== false) {
        var statusEl = document.getElementById('filecacher-delete-status');
        statusEl.textContent = '';
        statusEl.classList.remove('has-text-grey','has-text-warning','has-text-success','has-text-danger');
    }
    fetch('{{ url("filecacher", "stats") }}', {
        headers: { 'X-XSRFToken': document.querySelector('input[name="_xsrf"]').value }
    }).then(function(resp) {
        return resp.json().then(function(data) {
            if (!resp.ok) throw new Error(data.error || 'Failed to scan file store');
            return data;
        });
    }).then(function(data) {
        document.getElementById('fc-total-files').textContent = formatNumber(data.total_files);
        document.getElementById('fc-referenced-files').textContent = formatNumber(data.referenced_files);
        document.getElementById('fc-orphan-files').textContent = formatNumber(data.orphan_files);
        document.getElementById('fc-orphan-size').textContent = formatBytes(data.orphan_size) + ' (' + formatNumber(data.orphan_size) + ' bytes)';
        var deleteBtn = document.getElementById('filecacher-delete-btn');
        deleteBtn.disabled = data.orphan_files === 0;
        fileCacherShowState('results');
    }).catch(function(error) {
        document.getElementById('filecacher-error-msg').textContent = 'Error: ' + error.message;
        fileCacherShowState('error');
    });
}

function fileCacherDeleteOrphans() {
    AdminModals.simpleConfirm(
        'This will permanently delete all orphan files from the file store. This action cannot be undone.',
        { title: 'Delete Orphan Files?', confirmButtonText: 'Yes, Delete', icon: 'warning' }
    ).then(function(confirmed) {
        if (!confirmed) return;
        var deleteBtn = document.getElementById('filecacher-delete-btn');
        var statusEl = document.getElementById('filecacher-delete-status');
        deleteBtn.disabled = true;
        deleteBtn.classList.add('is-loading');
        statusEl.textContent = 'Deleting orphan files...';
        statusEl.classList.remove('has-text-grey','has-text-warning','has-text-success','has-text-danger');
        statusEl.classList.add('has-text-grey');
        fetch('{{ url("filecacher", "delete_orphans") }}', {
            method: 'POST',
            headers: { 'X-XSRFToken': document.querySelector('input[name="_xsrf"]').value }
        }).then(function(resp) {
            return resp.json().then(function(data) {
                if (!resp.ok) throw new Error(data.error || 'Failed to delete orphan files');
                return data;
            });
        }).then(function(data) {
            deleteBtn.classList.remove('is-loading');
            statusEl.textContent = 'Deleted ' + formatNumber(data.deleted_count) + ' file(s), freed ' + formatBytes(data.deleted_size) + '.';
            statusEl.classList.remove('has-text-grey','has-text-warning','has-text-success','has-text-danger');
            statusEl.classList.add('has-text-success');
            // Refresh stats to show updated numbers
            fileCacherScan(false);
        }).catch(function(error) {
            deleteBtn.classList.remove('is-loading');
            deleteBtn.disabled = true;
            statusEl.textContent = 'Delete may have partially completed. Please re-scan to refresh counts.';
            statusEl.classList.remove('has-text-grey','has-text-warning','has-text-success','has-text-danger');
            statusEl.classList.add('has-text-warning');
            AdminModals.showError(error.message, 'Delete Failed');
        });
    });
}

function fileCacherSearchContent() {
    var term = document.getElementById('fc-search-term').value.trim();
    if (!term) return;
    var orphansOnly = document.getElementById('fc-search-orphans-only').checked;
    var statusEl = document.getElementById('fc-search-status');
    var resultsEl = document.getElementById('fc-search-results');
    statusEl.textContent = 'Searching file contents\u2026 This reads every file and may take a long time.';
    statusEl.className = 'has-text-grey';
    resultsEl.innerHTML = '';
    var url = '{{ url("filecacher", "search") }}?search_term=' + encodeURIComponent(term) +
        '&orphans_only=' + orphansOnly;
    fetch(url, {
        headers: { 'X-XSRFToken': document.querySelector('input[name="_xsrf"]').value }
    }).then(function(resp) {
        return resp.json().then(function(data) {
            if (!resp.ok) throw new Error(data.error || 'Search failed');
            return data;
        });
    }).then(function(data) {
        statusEl.textContent = data.length + ' match(es) found.';
        statusEl.className = 'has-text-success';
        fileCacherRenderResults(data, 'fc-search-results', 'content');
    }).catch(function(error) {
        statusEl.textContent = 'Error: ' + error.message;
        statusEl.className = 'has-text-danger';
    });
}

function fileCacherSearchDescription() {
    var pattern = document.getElementById('fc-desc-pattern').value.trim();
    if (!pattern) return;
    var orphansOnly = document.getElementById('fc-desc-orphans-only').checked;
    var statusEl = document.getElementById('fc-desc-status');
    var resultsEl = document.getElementById('fc-desc-results');
    statusEl.textContent = 'Searching descriptions\u2026';
    statusEl.className = 'has-text-grey';
    resultsEl.innerHTML = '';
    var url = '{{ url("filecacher", "list_by_description") }}?description_pattern=' + encodeURIComponent(pattern) +
        '&orphans_only=' + orphansOnly;
    fetch(url, {
        headers: { 'X-XSRFToken': document.querySelector('input[name="_xsrf"]').value }
    }).then(function(resp) {
        return resp.json().then(function(data) {
            if (!resp.ok) throw new Error(data.error || 'Search failed');
            return data;
        });
    }).then(function(data) {
        statusEl.textContent = data.length + ' match(es) found.';
        statusEl.className = 'has-text-success';
        fileCacherRenderResults(data, 'fc-desc-results', 'description');
    }).catch(function(error) {
        statusEl.textContent = 'Error: ' + error.message;
        statusEl.className = 'has-text-danger';
    });
}

function fileCacherRenderResults(data, containerId, groupName) {
    var container = document.getElementById(containerId);
    if (data.length === 0) {
        container.innerHTML = '<p class="has-text-grey">No results.</p>';
        return;
    }
    var html = '<div class="mb-2"><label class="checkbox"><input type="checkbox" onchange="fileCacherToggleAll(this, \'' + groupName + '\')" /> <strong>Select All</strong></label></div>';
    html += '<div style="max-height: 400px; overflow-y: auto;"><table class="table is-fullwidth is-hoverable is-striped is-narrow"><thead><tr>';
    html += '<th style="width:2em;"></th><th>Digest</th><th>Description</th><th class="has-text-right">Size</th></tr></thead><tbody>';
    for (var i = 0; i < data.length; i++) {
        var row = data[i];
        var sizeStr = row.size >= 0 ? formatBytes(row.size) : 'N/A';
        var shortDigest = row.digest.substring(0, 16) + '\u2026';
        var descEscaped = (row.description || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        html += '<tr><td><input type="checkbox" class="fc-dl-check" name="' + groupName + '" value="' + row.digest + '" /></td>';
        html += '<td style="font-family:monospace; font-size:0.85em;" title="' + row.digest + '">' + shortDigest + '</td>';
        html += '<td style="font-size:0.85em; max-width:400px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" title="' + descEscaped + '">' + descEscaped + '</td>';
        html += '<td class="has-text-right" style="white-space:nowrap;">' + sizeStr + '</td></tr>';
    }
    html += '</tbody></table></div>';
    html += '<button class="button is-info is-small is-outlined mt-2" onclick="fileCacherDownloadSelected(\'' + groupName + '\')">';
    html += '<span class="icon is-small"><svg class="icon"><use href="#icon-download"/></svg></span>';
    html += '<span>Download Selected</span></button>';
    container.innerHTML = html;
}

function fileCacherToggleAll(masterCheckbox, groupName) {
    var checks = document.querySelectorAll('input.fc-dl-check[name="' + groupName + '"]');
    for (var i = 0; i < checks.length; i++) {
        checks[i].checked = masterCheckbox.checked;
    }
}

function fileCacherDownloadSelected(groupName) {
    var checks = document.querySelectorAll('input.fc-dl-check[name="' + groupName + '"]:checked');
    var digests = [];
    for (var i = 0; i < checks.length; i++) {
        digests.push(checks[i].value);
    }
    if (digests.length === 0) {
        AdminModals.showError('No files selected.', 'Download');
        return;
    }
    fetch('{{ url("filecacher", "download") }}', {
        method: 'POST',
        headers: {
            'X-XSRFToken': document.querySelector('input[name="_xsrf"]').value,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ digests: digests })
    }).then(function(resp) {
        if (!resp.ok) {
            return resp.json().then(function(data) {
                throw new Error(data.error || 'Download failed');
            });
        }
        return resp.blob();
    }).then(function(blob) {
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'filecacher_files.zip';
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
    }).catch(function(error) {
        AdminModals.showError(error.message, 'Download Failed');
    });
}

{% endblock js %}

{% block js_init %}
var shards = {{ resource_addresses|tojson }};
for (var i in shards)
{
    getters[i] = new RSgetter(i, plotOptions);
    var f = utils.bind_func(getters[i], getters[i].update_resources);
    setInterval(f, 10000);
    getters[i].update_resources()

}

{% endblock js_init %}

{% block core %}

<h1 class="title is-spaced">Resource usage</h1>

{# ── Machine Selector ─────────────────────────────────────────── #}
{% if all_resource_addresses|length > 1 %}
<div class="is-flex is-align-items-center is-flex-wrap-wrap mb-5" style="gap: 0.5rem;">
    <span class="has-text-grey is-size-7 is-uppercase has-text-weight-semibold" style="white-space: nowrap;">Machine:</span>
    <div class="buttons has-addons mb-0">
      {% if selected_shard == "all" %}
        <span class="button is-small is-primary">All</span>
      {% else %}
        <a href="{{ url(*(["resources", "all"] + contest_address)) }}" class="button is-small">All</a>
      {% endif %}
      {% for shard_id in all_resource_addresses|sort %}
        {% if selected_shard != "all" and selected_shard|int == shard_id %}
          <span class="button is-small is-primary">{{ all_resource_addresses[shard_id] }} ({{ shard_id }})</span>
        {% else %}
          <a href="{{ url(*(["resources", shard_id|string] + contest_address)) }}" class="button is-small">{{ all_resource_addresses[shard_id] }} ({{ shard_id }})</a>
        {% endif %}
      {% endfor %}
    </div>
</div>
{% elif all_resource_addresses|length == 1 %}
<div class="is-flex is-align-items-center mb-5" style="gap: 0.5rem;">
    <span class="has-text-grey is-size-7 is-uppercase has-text-weight-semibold">Machine:</span>
    {% for shard_id in all_resource_addresses %}
    <span class="has-text-weight-medium">{{ all_resource_addresses[shard_id] }} ({{ shard_id }})</span>
    {% endfor %}
</div>
{% endif %}

{# ── Machine Sections ──────────────────────────────────────────── #}
{% for i in resource_addresses %}

{% if resource_addresses|length > 1 %}
<h2 class="subtitle is-5 has-text-weight-semibold mb-3 mt-5">Machine {{ i }} ({{ resource_addresses[i] }})</h2>
{% endif %}

{# Services Card #}
<div class="tp-card mb-4">
  <div class="tp-card-header-modern">
    <div class="tp-card-header-icon"><svg class="icon"><use href="#icon-clipboard-list"/></svg></div>
    <h3 class="tp-card-title-modern">Services{% if resource_addresses|length > 1 %} &mdash; Machine {{ i }}{% endif %}</h3>
  </div>
  <div class="tp-card-body" style="padding: 0; overflow-x: auto;">
    <table id="services_{{ i }}_table" class="table is-fullwidth is-hoverable is-striped mb-0">
      <thead>
        <tr>
          <th>Service</th>
          <th>Uptime (s)</th>
          <th class="has-text-centered">Threads</th>
          <th class="has-text-centered">Resident (MB)</th>
          <th class="has-text-centered">Virtual (MB)</th>
          <th class="has-text-centered">User (%)</th>
          <th class="has-text-centered">System (%)</th>
          <th class="has-text-centered">Autorestart</th>
        </tr>
      </thead>
      <tbody>
        <tr><td style="text-align: center;" colspan="8"><img src="{{ url("static", "loading.gif") }}" alt="loading..." /></td></tr>
      </tbody>
    </table>
  </div>
</div>

{# Graphs Card #}
<div class="tp-card mb-5">
  <div class="tp-card-header-modern">
    <div class="tp-card-header-icon"><svg class="icon"><use href="#icon-activity"/></svg></div>
    <h3 class="tp-card-title-modern">Resource Graphs{% if resource_addresses|length > 1 %} &mdash; Machine {{ i }}{% endif %}</h3>
  </div>
  <div class="tp-card-body">
    <div class="grid is-gap-8 is-col-min-24">
      <div class="cell">
        <p class="has-text-weight-semibold has-text-grey mb-2">CPU</p>
        <div id="cpu_{{ i }}" style="width: 100%; max-width: 500px; height: 9.75em;"></div>
      </div>
      <div class="cell">
        <p class="has-text-weight-semibold has-text-grey mb-2">Memory</p>
        <div id="memory_{{ i }}" style="width: 100%; max-width: 500px; height: 9.75em;"></div>
      </div>
      <div class="cell">
        <p class="has-text-weight-semibold has-text-grey mb-2">Swap</p>
        <div id="swap_{{ i }}" style="width: 100%; max-width: 500px; height: 9.75em;"></div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% if resource_addresses|length == 0 %}
<div class="notification is-light">No resource services are configured.</div>
{% endif %}

{# ── File Cacher ──────────────────────────────────────────────── #}
{% if admin.permission_all %}
<div class="tp-card mb-5">
  <div class="tp-card-header-modern">
    <div class="tp-card-header-icon"><svg class="icon"><use href="#icon-database"/></svg></div>
    <h3 class="tp-card-title-modern">File Cacher</h3>
  </div>
  <div class="tp-card-body">
    <div id="filecacher-placeholder">
      <p class="has-text-grey mb-3" style="font-size: 0.9rem;">
        Analyze the file store to find orphan files that are no longer referenced by any task or contest data.
        This scan can be slow on large databases.
      </p>
      <button class="button is-info is-outlined" id="filecacher-scan-btn" onclick="fileCacherScan()">
        <span class="icon is-small"><svg class="icon"><use href="#icon-activity"/></svg></span>
        <span>Scan File Store</span>
      </button>
    </div>
    <div id="filecacher-loading" style="display: none;">
      <p class="has-text-grey"><img src="{{ url("static", "loading.gif") }}" alt="loading..." style="vertical-align: middle; margin-right: 6px;" />Scanning file store&hellip; This may take a while.</p>
    </div>
    <div id="filecacher-results" style="display: none;">
      <div class="grid is-col-min-8 is-gap-4 mb-4">
        <div class="cell">
          <span class="has-text-grey is-size-s is-uppercase has-text-weight-semibold">Total Files</span>
          <div class="has-text-weight-medium" id="fc-total-files">—</div>
        </div>
        <div class="cell">
          <span class="has-text-grey is-size-s is-uppercase has-text-weight-semibold">Referenced Files</span>
          <div class="has-text-weight-medium" id="fc-referenced-files">—</div>
        </div>
        <div class="cell">
          <span class="has-text-grey is-size-s is-uppercase has-text-weight-semibold">Orphan Files</span>
          <div class="has-text-weight-medium" id="fc-orphan-files">—</div>
        </div>
        <div class="cell">
          <span class="has-text-grey is-size-s is-uppercase has-text-weight-semibold">Orphan Size</span>
          <div class="has-text-weight-medium" id="fc-orphan-size">—</div>
        </div>
      </div>
      <div class="is-flex is-align-items-center" style="gap: 0.75rem;">
        <button class="button is-danger is-outlined" id="filecacher-delete-btn" onclick="fileCacherDeleteOrphans()" disabled>
          <span class="icon is-small"><svg class="icon"><use href="#icon-trash"/></svg></span>
          <span>Delete Orphan Files</span>
        </button>
        <button class="button is-info is-outlined" onclick="fileCacherScan()">
          <span class="icon is-small"><svg class="icon"><use href="#icon-activity"/></svg></span>
          <span>Re-scan</span>
        </button>
        <span id="filecacher-delete-status" class="has-text-grey" style="font-size: 0.85rem;"></span>
      </div>

      {# ── Content Search ────────────────────────────────── #}
      <hr style="margin: 1rem 0;">
      <h4 class="has-text-weight-semibold mb-2">Search File Contents</h4>
      <p class="has-text-grey mb-2" style="font-size: 0.85rem;">
        This operation reads every file in the store and may take a long time.
      </p>
      <div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 0.5rem;">
        <input class="input is-small" type="text" id="fc-search-term" placeholder="Search term (e.g. created by liasa)" style="max-width: 20rem;">
        <label class="checkbox" style="font-size: 0.85rem;">
          <input type="checkbox" id="fc-search-orphans-only" checked> Orphans only
        </label>
        <button class="button is-info is-small is-outlined" onclick="fileCacherSearchContent()">
          <span class="icon is-small"><svg class="icon"><use href="#icon-activity"/></svg></span>
          <span>Search Contents</span>
        </button>
        <span id="fc-search-status" class="has-text-grey" style="font-size: 0.85rem;"></span>
      </div>
      <div id="fc-search-results" class="mt-3"></div>

      {# ── Description Search ────────────────────────────── #}
      <hr style="margin: 1rem 0;">
      <h4 class="has-text-weight-semibold mb-2">Search by Description</h4>
      <p class="has-text-grey mb-2" style="font-size: 0.85rem;">
        Filter files by description substring (case-insensitive). Descriptions typically look like
        &ldquo;Submission file solution.%l sent by username at UNIX_TIMESTAMP.&rdquo;
      </p>
      <div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 0.5rem;">
        <input class="input is-small" type="text" id="fc-desc-pattern" placeholder="Description pattern (e.g. at 17)" style="max-width: 20rem;">
        <label class="checkbox" style="font-size: 0.85rem;">
          <input type="checkbox" id="fc-desc-orphans-only"> Orphans only
        </label>
        <button class="button is-info is-small is-outlined" onclick="fileCacherSearchDescription()">
          <span class="icon is-small"><svg class="icon"><use href="#icon-activity"/></svg></span>
          <span>Search Descriptions</span>
        </button>
        <span id="fc-desc-status" class="has-text-grey" style="font-size: 0.85rem;"></span>
      </div>
      <div id="fc-desc-results" class="mt-3"></div>
    </div>
    <div id="filecacher-error" style="display: none;">
      <div class="notification is-danger is-light">
        <div id="filecacher-error-msg"></div>
        <button class="button is-small is-info is-outlined mt-3" onclick="fileCacherScan()">
          <span class="icon is-small"><svg class="icon"><use href="#icon-activity"/></svg></span>
          <span>Retry Scan</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock core %}
